<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true"
                                   name="C:/Users/yusuf/IdeaProjects/SeleniumLoc1/src/test/java/org/SeleniumAuto1/TestFirstNG.java">
    <classes>
        <class name="org.SeleniumAuto1.TestFirstNG">
 <!--   <methods><include name="OpenApp"/>
    </methods>-->
        </class>
</classes>
</test>
</suite>